* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FCF7DE;
}

nav.nav-horizontal {
    border: 2px solid rgb(8, 4, 63);
    background-color: #017Acb;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
}

nav.nav-horizontal ul {
    text-align: center;
}

nav.nav-horizontal li {
    display: inline-block;
    padding: 5px 15px;
    background-color: #003469;
    list-style-type: none;
}

nav.nav-horizontal li:hover {
    background-color: rgb(8, 4, 63);
}

nav.nav-horizontal a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:link.leia-mais-topo,
a:visited.leia-mais-topo {
    display: block;
}

article a:link,
article a:visited {
    padding: 5px 5px;
    background-color: #003469;
    color: white;
    font-weight: bold;
    margin-left: auto;
    margin-right: 10px;
    text-align: center;
    width: 20%;
    text-decoration: none;
}

article a:hover {
    text-decoration: none;
    background-color: rgb(8, 4, 63);
}

.clear {
    clear: both;
}

#redes-sociais {
    background-color: #017Acb;
    position: fixed;
    height: 19px;
    right: 5px;
}

.gaiola {
    display: inline;
    float: left;
    width: 28px;
    height: 20px;
    overflow: hidden;
    margin: 0;
    /*background:url("../imagens/bg.png");*/
    margin: -1px 6px;
}

.passaro {
    width: 56px;
    height: 20px;
    background: url("../imagens/twitter-animado.png");
    margin-left: -28px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.passaro:hover {
    margin-left: 0px;
}

.titulo {
    margin: 40px auto;
    font-size: 3em;
    text-align: center;
}

.menu-lateral {
    float: left;
    background-color: #017Acb;
    margin-left: 30px;
    width: 18%;
}

.borda-menu {
    border: 2px solid rgb(8, 4, 63);
}

aside.menu-lateral ul li {
    border-top: 2px solid rgb(8, 4, 63);
    list-style-type: none;
}

aside.menu-lateral ul a {
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #003469;
    padding: 10px 0;
    color: white;
    font-weight: bold;
}

.fa-facebook-square {
    color: darkblue;
    background-color: white;
}

.fa-facebook-square:hover {
    color: green;
    animation: fa-spin 2s infinite linear;
}

.fa-instagram {
    color: #f783ac;
}

.fa-instagram:hover {
    color: green;
    animation: fa-spin 2s infinite;
}

.fa-twitter {
    color: darkblue;
}

.fa-facebook-square:hover {
    color: green;
    animation: fa-spin 2s infinite linear;
}

aside.menu-lateral a:hover {
    text-decoration: none;
    background-color: rgb(8, 4, 63);
}

ol {
    counter-reset: li;
    background-color: #003469;
}

ol>li {
    position: relative;
    list-style-type: decimal;
    border-top: 2px solid rgb(8, 4, 63);
    list-style-position: initial;
}

ol a {
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #003469;
    padding: 10px 0;
    color: white;
    font-weight: bold;
}

ol a:hover {
    text-decoration: none;
    background-color: rgb(8, 4, 63);
}

.titulo-menu-lateral {
    text-align: center;
    font-size: 1.6em;
    color: white;
    line-height: 60px;
}

.divisao-barra-lateral {
    background: #FCF7DE;
    border: none;
    height: 80px;
}

.noticias-topo {
    float: right;
    width: 78%;
}

.noticias-capa {
    margin: 40px auto;
    font-size: 2em;
    text-align: center;
}

.container-noticias-topo {
    border: 2px solid rgb(8, 4, 63);
    float: left;
    width: 45%;
    padding: 10px 0;
    margin: 0 10px;
}

.chamada-noticias {
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    padding: 0 20px 15px 20px;
}

.img-noticias-topo {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.desc-noticias {
    text-align: justify;
    padding: 20px 15px 10px 15px;
}

.noticias-lista {
    border: 2px solid rgb(8, 4, 63);
    width: 90%;
    padding: 10px 0;
    margin: 40px auto;
}

.noticias-baixo {
    border-top: 2px solid rgb(8, 4, 63);
    border-bottom: 2px solid rgb(8, 4, 63);
    width: 98%;
    padding: 10px 0;
    margin: 40px auto;
}

.centralizar {
    text-align: center;
}

.tabela {
    margin: 20px auto;
}

.tabela td,
.tabela th {
    border: 2px solid rgb(8, 4, 63);
    border-radius: 10px;
    padding: 4px 8px;
    text-align: center;
}

.tabela tr:nth-child(even) {
    background-color: #bbb;
    color:
}

.tabela tr:hover {
    background-color: #017Acb;
    color: white;
}

.tabela th {
    background-color: rgb(8, 4, 63);
    color: white;
}

.rodape {
    margin: 40px 0 50px 0;
}

.texto-rodape {
    text-align: center;
    font-size: 0.9em;
}

.tags-e-voltar {
    text-align: center;
    font-size: 0.9em;
    margin-top: 5px;
}

.leitor-de-tela {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

a.voltar-topo,
a:visited.voltar-topo {
    text-decoration: none;
    color: rgb(8, 4, 63);
    margin: 50px 0 0 0;
    font-weight: bold;
}

a:hover.voltar-topo {
    text-decoration: none;
    background-color: rgb(8, 4, 63);
    color: white;
    padding: 4px 0;
}