* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: animeace;
  src: url( '../fonts/animeace2_reg.ttf' );
}

@font-face {
  font-family: animeace;
  src: url( '../fonts/animeace2_bld.ttf' );
  font-weight: 700;
}

body {
  font-family: animeace , sans-serif;
  background-color: rgb( 14 , 202 , 14 );
}

.titulo-topo {
  -webkit-text-stroke: 1px rgb( 2 , 54 , 2 );
  -webkit-text-fill-color: white;
  text-align: center;
  font-size: 4em;
}

.container {
  background-color: whitesmoke;
  width: 40%;
  border-radius: 15px;
  margin: 20px auto;
  padding: 25px 45px;
}

.titulo-section {
  margin: 0 0 15px;
}

.texto-section {
  display: block;
  text-align: justify;
  font-size: 0.9em;
  margin-bottom: 20px;
}

.input-tarefa {
  height: 37px;
  border: 1px solid black;
  margin: 0 5px 10px 0;
  width: 35ch;
  border-radius: 6px;
  padding-left: 1ch;
  font-size: 1.1em;
}

.botao {
  border-radius: 6px;
  padding: 8px;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.1em;
  margin: 0 5px 10px 0;
}

.botao-red {
  color: white;
  border: 1px solid red;
  background: red;
}

.botao-green {
  color: white;
  border: 1px solid rgb( 2 , 73 , 2 );
  background: rgb( 2 , 73 , 2 );
}

.botao-orange {
  color: white;
  border: 1px solid orangered;
  background: orangered;
}

.botao-blue {
  color: white;
  border: 1px solid blue;
  background: blue;
}

.botao:hover {
  color: white;
  border: 1px solid rgb( 10 , 80 , 185 );
  opacity: 0.3;
}

.lista-ordenada {
  list-style-position: inside;
  margin: 10px 0 20px;
}

.tarefa {
  width: auto;
  font-size: 1.2em;
  padding-left: 0.5ch;
  font-weight: 700;
}

.tarefa-ativa {
  border: 2px solid green;
}

.tarefa-riscada {
  text-decoration: line-through;
  border: 2px solid red;
  color: red;
}

.tarefa-selecionada {
  background: rgb( 187 , 187 , 187 );
  font-size: 1.4em;
  border: 2px solid black;

}

.rodape {
  -webkit-text-stroke: 1px rgb( 2 , 54 , 2 );
  -webkit-text-fill-color: white;
  font-size: 1.1em;
  margin-bottom: 40px;
}

.texto-rodape {
  text-align: center;
  margin-top: 5px;
}

.voltar-topo , .voltar-topo:visited {
  text-decoration: none;
  font-weight: 700;
  -webkit-text-stroke: 1px rgb( 2 , 54 , 2 );
  -webkit-text-fill-color: white;
  margin: 50px 0 0;
}

.voltar-topo:hover {
  text-decoration: none;
  background-color: rgb( 2 , 54 , 2 );
  color: white;
  padding: 4px 6px;
  border-radius: 8px;
}
